span{
    text-shadow: 0ch;
}
.jumbotron {
    margin-bottom: 0px;
    background-image: url(../img/plane.jpg);
    background-position: 0% 75%;
    background-size: cover;
    background-repeat: no-repeat;   
    color:white;
}
.nav-item {
    font-weight:bold;
}
body{
    margin-bottom: 0px;
    background-color:white
}
.row mt-sm-4 mt-md-0{
      background-color: white;
}